@font-face {
  font-family: "Clear Sans";
  src: url("../clear-sans.ttf") format("truetype"); }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px; }

.text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold; }

#boardDiv {
  zoom: 1.5; }

.board {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #baa;
  border-radius: 7px;
  outline: none;
  position: relative; }

.board .cell, .tile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

.cell, .tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb; }

.trickContainer {
  float: left;
  padding-left: 2px; }

.trick {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb; }

.trickCoins, .trickPoints {
  width: 100px;
  height: 15px;
  text-align: center;
  margin: 5px;
  float: left; }

.trickCoinsBlocked {
  opacity: 0; }

.trickCoinsDisabled, .trickPointsDisabled {
  opacity: 0.5; }

/*TODO: AnkiGame, Update the icons properly*/
.trick_disabled {
  background-color: #c6c0ab !important;
  opacity: 0.5; }

.trick_blocked {
  background-color: #c6c0ab;
  background-image: url("../img/block_icon.png");
  opacity: 0.5; }

.trick_bomb {
  background-color: #eec022;
  background-image: url("../img/bomb_icon.png"); }

.trick_gift {
  background-color: #22caee;
  background-image: url("../img/gift_icon.png"); }

.trick_undo {
  background-color: #22ee98;
  background-image: url("../img/undo_icon.png"); }

.trick_double {
  background-color: #ee9c22;
  background-image: url("../img/double_icon.png"); }

.tile0 {
  background-color: #dcb; }

.tile2 {
  background-color: #eee; }

.tile4 {
  background-color: #eec; }

.tile8 {
  color: #ffe;
  background-color: #fb8; }

.tile16 {
  color: #ffe;
  background-color: #f96; }

.tile32 {
  color: #ffe;
  background-color: #f75; }

.tile64 {
  color: #ffe;
  background-color: #f53; }

.tile128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px; }

.tile256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px; }

.tile512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px; }

.tile1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px; }

.tile2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px; }

.tilegift {
  background-image: url("../img/gift_icon.png");
  color: transparent;
  background-color: #22caee;
  font-size: 12px; }

.tile {
  position: absolute; }

.tile.merged {
  display: none; }

.tile.merged.isMoving {
  display: inline; }

.tile.new, .overlay {
  -webkit-animation-duration: 0.20s;
          animation-duration: 0.20s;
  -webkit-animation-name: newTile;
          animation-name: newTile;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-transform: scale(0);
          transform: scale(0); }

@-webkit-keyframes newTile {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes newTile {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px; }

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px; }

.overlay .message {
  color: #666; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  text-align: right;
  margin-bottom: 8px; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }
