@font-face {
  font-family: "Clear Sans";
  src: url('../clear-sans.ttf') format('truetype');
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

@mixin animation-fill-mode($args...) {
  -webkit-animation-fill-mode: $args;
  -moz-animation-fill-mode: $args;
  animation-fill-mode: $args;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

#boardDiv {
  zoom: 1.5;
}

.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #baa;
  border-radius: 7px;
  outline: none;
  position: relative;
}

.board .cell, .tile {
  user-select: none;
  cursor: default;
}

.cell, .tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb;
}

$section-space: 8px;

@keyframes reveal {
  0% {
    height: 180px;
    margin-top: -180px;
    top: 180px;
  }

  100% {
    height: 0px;
    margin-top: 0px;
    top: 0px;
  }
}

@keyframes hide {
  0% {
    height: 0px;
    margin-top: 0px;
    top: 0px;
  }

  100% {
    height: 180px;
    margin-top: -180px;
    top: 180px;
  }
}

.tricks-curtain {
  top: 180px;
  margin-top: -180px;
  height: 180px;
  margin-bottom: $section-space;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
  background: #c6c0ab;
  opacity: 0.5;
  z-index: 90;
  @include animation(hide 300ms ease-in);
}

.tricks-curtain-drop {
  height: 0px;
  margin-bottom: $section-space;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
  background: #c6c0ab;
  opacity: 0.5;
  z-index: 90;
  @include animation(reveal 300ms ease-in);
}

.tricks-revealer {
  height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #a29f96;
  text-align: center;
}

.tricks-revealer-hidden {
  opacity: 0;
}

.tricks-container {
  height: 180px;
  position: relative;
}

.trickContainer {
  float:left;
  padding-left: 2px;
}

.trick {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb;
}

.trickCoins, .trickPoints {
  width: 100px;
  height: 15px;
  text-align: center;
  margin: 5px;
  float: left;
}

.trickCoinsBlocked {
  opacity: 0;
}

.trickCoinsDisabled, .trickPointsDisabled {
  opacity: 0.5;
}

/*TODO: AnkiGame, Update the icons properly*/
.trick_disabled {
  background-color: #c6c0ab !important;
  opacity: 0.5;
}

.trick_blocked {
  background-color: #c6c0ab;
  background-image: url("../img/block_icon.png");
  opacity: 0.5;
}

.trick_bomb {
  background-color: #eec022;
  background-image: url("../img/bomb_icon.png");
}

.trick_gift {
  background-color: #22caee;
  background-image: url("../img/gift_icon.png");
}

.trick_undo {
  background-color: #22ee98;
  background-image: url("../img/undo_icon.png");
}

.trick_double {
  background-color: #ee9c22;
  background-image: url("../img/double_icon.png");
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #eee;
}

.tile4 {
  background-color: #eec;
}

.tile8 {
  color: #ffe;
  background-color: #fb8;
}

.tile16 {
  color: #ffe;
  background-color: #f96;
}

.tile32 {
  color: #ffe;
  background-color: #f75;
}

.tile64 {
  color: #ffe;
  background-color: #f53;
}

.tile128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.tile256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.tile512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.tile1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.tile2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}

.tilegift {
  background-image: url("../img/gift_icon.png");
  color: transparent;
  background-color: #22caee;
  font-size: 12px;
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new, .overlay {
  animation-duration: 0.20s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.overlay .message {
  color: #666;
}

$game-container-background: #bbada0;
$text-color: #776E65;
$tile-color: #eee4da;

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}

.scores-container {
  text-align: left;
  margin-top: $section-space;
}

.score-container, .best-container {
  $height: 25px;

  position: relative;
  display: inline-block;
  background: $game-container-background;
  padding: 15px 25px;
  font-size: $height;
  height: $height;
  line-height: $height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: $tile-color;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $height;
    line-height: $height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    @include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);
  }
}

.score-container:after {
  content: "Score";
}

.best-container:after {
  content: "Best";
}
